<div class="d-flex justify-content-center mb-4">
  <img
    class="img-width"
    src="../../../assets/img/ford.png"
    alt="Logo da Ford"
  />
</div>

<h4 class="text-center text-color">Boas vindas</h4>

<app-mensagem
  *ngIf="usuarioInvalido == true"
  mensagem="Usuário e/ou senha inválidos"
></app-mensagem>

<form class="form mt-4 width" (ngSubmit)="fazerLogin()" #loginForm="ngForm">
  <div class="form-group mb-4">
    <input
      class="form-control"
      placeholder="Insira seu email"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Campo usuário obrigatório"
    ></app-mensagem>
  </div>

  <div class="form-group mb-4">
    <input
      class="form-control"
      placeholder="Insira sua senha"
      type="password"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Campo senha obrigatório"
    ></app-mensagem>
  </div>

  <button
    type="submit"
    class="btn btn-secondary width"
    [disabled]="loginForm.invalid"
  >
    Entrar
  </button>
</form>
