.bg-color {
  background-color: rgb(11, 72, 135);
  color: white;
}

.font-weight {
  font-weight: 700;
}

.width {
  width: 210px;
}

.width-2 {
  width: 210px;
}

@media screen and (max-width: 1400px) {
  .width {
    width: 175px;
  }

  .width-2 {
    width: 175px;
  }
}

@media screen and (max-width: 1200px) {
  .width {
    width: 140px;
  }

  .width-2 {
    width: 140px;
  }
}
