* {
  box-sizing: border-box;
}

.full-height {
  height: 90vh;
}

.full {
  width: 98vw;
  height: 90vh;
}

.text-color {
  color: rgb(15, 91, 171);
}

.card-dimension {
  background-color: rgba(255, 255, 255, 0.9);
  height: 89vh;
  width: 41vw;
}
