<app-cabecalho></app-cabecalho>
<div class="d-flex flex-row full-height">
  <div class="d-flex col-md-12 align-items-center justify-content-center">
    <img
      class="img-fluid d-sm-block"
      src="../../../assets/img/Ranger.png"
      alt="Imagem de uma Ford Ranger vermelha"
    />
  </div>

  <div
    class="position-absolute d-flex align-items-center justify-content-center full"
  >
    <div class="card card-dimension">
      <div class="card-header">Sistema de dados FORD</div>
      <div class="card-body">
        <h5 class="card-title text-color">Seja bem vindo(a)!</h5>
      </div>
    </div>
  </div>

  <!-- <app-menu-lateral></app-menu-lateral>
  <app-logout-menu></app-logout-menu> -->
</div>
